---
import ProjectCard from '@components/ui/ProjectCard.astro'
import projectsData from '@data/projects.json'

const projects = projectsData.projects.slice(0, 4);
---
<section id="projects">
    <div class="projects-container">
        <h2 class="projects-title"> Proyectos destacados </h2>
        <div class="works">
        {
            projects.map((project) => (
                <ProjectCard
                    name={project.name}
                    description={project.description}
                    imgLogo={project.img_logo}
                    imgPreview={project.img_preview}
                    technologies={project.technologies}
                    link={project.link}
                />
            ))
        }
        </div>
    </div>
</section>

<style>
    #projects {
        @apply pt-20 pb-28
    }

    .projects-container {
        @apply max-w-screen-xl mx-auto flex flex-col px-6
    }

    .projects-title {
        @apply text-4xl font-bold text-left mb-10;
        color: hsl(0, 0%, 60%);
    }

    .works {
        @apply grid grid-cols-2 gap-7
    }
</style>