---
import ProjectCard from '@components/ui/ProjectCard.astro'
import projectsData from '@data/projects.json'

const projects = projectsData.projects
---
<section id="projects">
    <div class="projects-container">
        <h2 class="projects-title"> Proyectos destacados </h2>
        <div class="works">
        {
            projects.map((project) => (
                <ProjectCard
                    name={project.name}
                    description={project.description}
                    imgLogo={project.img_logo}
                    imgPreview={project.img_preview}
                    technologies={project.technologies}
                    link={project.link}
                />
            ))
        }
        </div>
    </div>
</section>

<style>
    .projects-container {
        
    }

    .projects-title {
        @apply text-3xl font-bold text-left text-blue-500
    }

    .works {
        @apply grid grid-cols-2 gap-10
    }
</style>