---
import TechnologyLabel from '@components/ui/TechnologyLabel.astro'

interface ProjectProps {
	name: string
	description: string
	imgLogo: string
	imgPreview: string
	technologies: string[]
	link: string
}

const { 
	name,
	description,
	imgLogo,
	imgPreview, 
	technologies,
	link 
} = Astro.props as ProjectProps
---
<a	
	href={link}
	class="project-link"
	target="_blank"
	rel="noopener"
>
	<article class="project">
		<div class="project-images-zone">
			<img 
				src={imgLogo} 
				alt={`${name} logo`} 
				class="project-image-logo"
			/>
			<div class="project-preview-overlay"></div>
			<img 
				src={imgPreview} 
				alt={`${name} preview`} 
				class="project-image-preview" 
			/>
		</div>
		<div class="project-info-zone">
			<h3 class="project-title"> {name} </h3>
			<p class="project-description"> {description} </p>
			<div class="project-technologies">
				{
				technologies.map((tech: string) => {
					return <TechnologyLabel technology={tech} />
				})
				}
			</div>
		</div>
	</article>
</a>

<style>
	.project-link {
		@apply block
	}
	
	.project {
		@apply w-full h-auto border rounded-3xl shadow overflow-hidden bg-neutral-600 border-zinc-400;
		backdrop-filter: blur(10px);
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}

	.project:hover {
		transform: translate3d(0, -0.5rem, 0);
		box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
	}

	.project-images-zone {
		@apply relative w-full aspect-[16/9] overflow-hidden;
	}

	.project-image-logo {
		@apply absolute top-1/2 left-1/2 w-auto h-24 z-10 transform -translate-x-1/2 -translate-y-1/2 drop-shadow-xl;
		filter: drop-shadow(0 0 55px rgba(0, 0, 0, 0.5));
	}

	.project-image-preview {
		@apply w-full h-full object-cover rounded-t-3xl;
	}

	.project-preview-overlay {
		@apply absolute inset-0 bg-black/50 bg-opacity-60 z-0 rounded-t-3xl;
		backdrop-filter: blur(2px);
	}

	.project-info-zone {
		@apply p-6 border-t border-zinc-400
	}

	.project-title {
		@apply text-4xl font-bold text-zinc-100 mb-3
	}

	.project-description {
		@apply font-medium text-zinc-300 mt-2 mb-3;
		font-size: 20px;
	}

	.project-technologies {
		@apply flex flex-wrap gap-2 mt-5
	}
</style>
